<div class="modal modal-postimage-1">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="https://fthmb.tqn.com/OCUnApO5fqoaU6Ut1AMBrw6aSkw=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Two-kittens-GettyImages-559292093-58822e4f3df78c2ccd8b318c.jpg"
        alt="">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>