<div class="column pet is-one-quarter">
  <img class="pet_image" src="http://drug2.com.ua/uploads/2803.jpg" alt="">
  <div class="pet_info">
    <p class="pet_name">
      shiro
    </p>
    <p class="pet_age">
      3 month
    </p>
  </div>
</div>