<div class="columns post post-input_wrapper">
  <div class="column is-1 post_avatar is-hidden-mobile">
    <img src="https://i.pinimg.com/favicons/29e089c98dcbb463bd6bc6e07f0d8279f7599d41e0c3aabda39e61b8.png?8898556c3fbeed183020064fcf6ec0f4"
      alt="" class="img-rounded">
  </div>
  <div class="column post_content post-input">
    <div>
      <div class="field">
        <div class="control">
          <textarea class="textarea is-primary post-input_textarea" type="text" placeholder="whats going on?"></textarea>
        </div>
      </div>
      <div class="field is-horizontal is-space-between">
        <div class="file is-primary is-small has-name">
          <label class="file-label">
            <input id="file" class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label post-input_file-label">
                Image
              </span>
            </span>
            <span class="file-name" id="filename">
            </span>
          </label>
        </div>
        <img id="blah" src="#" alt="your image" />
        <div class="control">
          <button class="button is-primary is-small is-rounded post-input_btn-post">POST</button>
        </div>
      </div>
    </div>
  </div>
</div>