<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand brand-peto">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/images/fish.svg" alt="Bulma: a modern CSS framework based on Flexbox" height="28">
    </a>
  </div>
</nav>
<div class="">
  <div class="user">
    <img src="http://stage48.net/wiki/images/thumb/6/67/KatoMinamiNIII2018.jpg/479px-KatoMinamiNIII2018.jpg" alt="" class="user_avatar">
    <p class="user_name">Kato Minami</p>
    <p class="user_live">Niigata, Japan</p>
  </div>
  <div class="pet_wrapper">
    <h4>PETS</h4>
  </div>
  <div class="columns pets is-multiline">
    {{> pet}} {{> pet}} {{> pet}} {{> pet}} {{> pet}} {{> pet}}
  </div>

</div>
<nav class="navbar nav-bottom" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <span class="icon is-medium">
          <i class="fas fa-info-circle fa-lg"></i>
        </span>
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        <span class="icon is-medium">
          <i class="fas fa-cog fa-lg"></i>
        </span>
      </a>
      <a class="navbar-item">
        <span class="icon is-medium">
          <i class="fas fa-sign-out-alt fa-lg"></i>
        </span>
      </a>
    </div>
  </div>
</nav>