<div class="sidebar">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand brand-peto">
      <a class="navbar-item" href="https://bulma.io">
        <img src="/images/fish.svg" alt="Bulma: a modern CSS framework based on Flexbox" height="28">
      </a>
    </div>
  </nav>
  <div class="is-hori-centered">
    <div class="user">
      <img src="" alt="" class="">
      <p class="user_name"></p>
    </div>
    <div class="pets">
      <div class="pet is-4">
        <img class="pet_image" src="" alt="">
        <div class="pet_name"></div>
      </div>
    </div>
  </div>
</div>