<style>
  #dictionary {
    padding: 0 7.5rem;
    background-color: #f2f5f7;
    min-height: 100vh;
  }
</style>
<div id="dictionary">
  <div class="columns is-multiline">
    <div class="column is-3">
      <div class="box">
        a
      </div>
    </div>
    <div class="column is-3">
      <div class="box">
        a
      </div>
    </div>
    <div class="column is-3">
      <div class="box">
        a
      </div>
    </div>
    <div class="column is-3">
      <div class="box">
        a
      </div>
    </div>
    <div class="column is-3">
      <div class="box">
        a
      </div>
    </div>
    <div class="column is-3">
      <div class="box">
        a
      </div>
    </div>
  </div>
</div>