<div class="container helps">
  <div class="is-hori-centered">
    <img src="/images/fish.svg" alt="" class="helps_brand">
  </div>
  <div>
    <div class="tabs is-centered">
      <ul>
        <li class="is-active">
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#faq">FAQ</a>
        </li>
        <li>
          <a href="#privacy-policy">Privacy Policy</a>
        </li>
        <li>
          <a href="#terms-condition">Terms &amp; Conditions</a>
        </li>
      </ul>
    </div>
  </div>
  <section class="helps_content" id="about">
    <h2># About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deserunt itaque eius explicabo eum expedita. At culpa natus
      eveniet ut necessitatibus. Dolorem repudiandae voluptates consequatur odit adipisci architecto possimus doloribus!</p>
  </section>
  <section class="helps_content" id="faq">
    <h2># FAQ</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deserunt itaque eius explicabo eum expedita. At culpa natus
      eveniet ut necessitatibus. Dolorem repudiandae voluptates consequatur odit adipisci architecto possimus doloribus!</p>
  </section>
  <section class="helps_content" id="privacy-policy">
    <h2># Privacy Policy</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deserunt itaque eius explicabo eum expedita. At culpa natus
      eveniet ut necessitatibus. Dolorem repudiandae voluptates consequatur odit adipisci architecto possimus doloribus!</p>
  </section>
  <section class="helps_content" id="terms-condition">
    <h2># Terms &amp; Conditions</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deserunt itaque eius explicabo eum expedita. At culpa natus
      eveniet ut necessitatibus. Dolorem repudiandae voluptates consequatur odit adipisci architecto possimus doloribus!</p>
  </section>
</div>