<div class="columns main">
  <div class="column is-one-quarter has-background-primary">
    {{> sidebar}}
  </div>
  <div class="column timeline">
    {{> post}} {{> post}} {{> post}} {{> post}}
  </div>
</div>