<div class="columns main">
  <div class="column is-one-quarter sidebar">
    {{> sidebar}}
  </div>
  <div class="column timeline">
    <div class="up-post">
      {{> post_input}}
    </div>
    <div>
      {{> post}} {{> dummy_post_noreply}} {{> dummy_post_img}} {{> post}} {{> post}} {{> post}}
    </div>
  </div>
</div>