.main {
  margin: 0 !important;
  min-height: 100vh;
  max-height: 100vh;
}

.timeline {
  padding: 0 7.5rem;
  background-color: #f2f5f7;
  max-height: inherit;
  overflow-y: auto;
}

.up-post {
  min-height: 135px;
}

.post-input {
  border-bottom: 2px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
  &_wrapper {
    position: fixed;
    top: 0;
    margin: 0 !important;
    padding-top: 1rem;
    width: calc(100% - (7.5rem * 2) - 25%);
    background-color: #f2f5f7;
    z-index: 30;
  }
  &_textarea {
    min-height: 54px !important;
    font-size: 12px;
  }
  &_file-label {
    font-size: 12px;
  }
  &_btn-post {
    font-weight: bold;
  }
  .filename {
    font-size: 12px;
  }
  #img-preview {
    margin: 0 1rem;
    max-height: 1.7rem;
    object-fit: fill;
    border-radius: 4px;
    cursor: pointer;
  }
  .img-preview {
    object-fit: contain;
  }
}

.post {
  margin: 0;
  margin-top: 1rem;
  &_avatar,
  &_content {
    padding: .5rem;
  }
  &_avatar {
    .img-rounded {
      border-radius: 500px;
    }
  }
  &_box {
    box-shadow: none;
    &-reply {
      background-color: #f2f5f7;
    }
  }
  &_user {
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &_user-link {
    font-size: 14px;
    font-weight: 4000;
  }
  &_time {
    font-size: 11px;
    color: #bbb;
  }
}

.post-box {
  &_body {}
  &_footer {
    margin-top: .5rem;
    .ic-paw {
      width: 20px;
      height: 20px;
      fill: #888;
      &:hover {
        fill: #666;
      }
    }
    .ic-paw-red {
      fill: #f44336;
      &:hover {
        fill: #e57373;
      }
    }
  }
  &_action {
    display: flex;
  }
  &_menu {
    display: flex;
    align-items: center;
    li {
      padding: 0 .4rem;
    }
  }
}