.sidebar {
  padding: 0;
  .brand-peto {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .user {
    padding: 2rem;
    text-align: center;
    &_avatar {
      height: 150px;
      width: 150px;
      border-radius: 180px;
      border: 1px solid #f2f5f7;
      object-fit: cover;
      box-shadow: 0 3px 8px 2.5px rgba(0, 0, 0, 0.1)
    }
    &_name {
      font-size: 16px;
      text-align: center;
      color: hsl(171, 100%, 41%);
    }
    &_live {
      font-size: 10px;
      text-align: center;
      color: #858585;
    }
  }
  .pets {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
  }
  .pet {
    &_wrapper {
      text-align: center;
      h4 {
        color: hsl(171, 100%, 41%);
      }
    }
    &_image {
      max-width: 48px;
      max-height: 48px;
      border-radius: 60px;
      object-fit: cover;
      height: 48px;
    }
    &_name {
      text-align: center;
      font-size: 12px;
    }
    &_age {
      text-align: center;
      font-size: 10px;
    }
  }
  .nav-bottom {
    position: fixed;
    bottom: 0;
    width: inherit;
    .btn-signout {
      border: none;
      background-color: #fff;
      font-size: 1em;
    }
  }
}